
.header-container {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color:var(--color-blue-primary);
  flex-direction: row;
  position: relative;
}

.all-texts-container {
  height: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.sub-texts-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1vw 2vw;
  background-color:var(--color-green-light);
}

.blue-text {
  color: var(--color-blue-primary);
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 1.2rem;
}

.all-texts-container h1 {
  padding: 0 0 6vh 3vh;
  font-size: 3rem;
}

.white-text {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 1.2rem;
}

.side-image {
  height: 100%;
}

.fixed-logo {
  position: absolute;
  width: 5vw;
  top: 0;
  margin-inline-start: 2vw;
}

@media (max-width: 1000px) {

  .side-image {
    height: max-content;
  }

  .fixed-logo {
    position: fixed;
    width: 6vw;
    top: 0;
    margin-inline-start: 5vw;
  }

  .all-texts-container h1 {
    padding: 0 0 6vh 3vh;
    font-size: 2rem;
  }
  

}

@media (max-width: 600px) {

  .fixed-logo {
    width: 10vw;
    top: 0;
    margin-inline-start: 8vw;
  }

  .all-texts-container h1 {
    padding: 0 0 6vh 3vh;
    font-size: 1.8rem;
  }
  

}